<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class"> com.mysql.jdbc.Driver </property>
		<property name="connection.url"> jdbc:mysql://localhost/TicketUnla </property>
		<property name="connection.username"> root </property>
		<property name="connection.password"> tin102030 </property>
		<property name="connection.pool_size"> 1 </property>
		<property name="dialect"> org.hibernate.dialect.MySQLDialect </property>
		<property name="show_sql"> true </property> <!-- en true muestra hql en consola -->
		
		<!-- Mapeo Entidades -->

		<mapping resource="mapeos/TipoBeneficio.hbm.xml"/>
		<mapping resource="mapeos/TipoAuditorio.hbm.xml"/>
		<mapping resource="mapeos/Auditorio.hbm.xml"/>
		<mapping resource="mapeos/Seccion.hbm.xml"/>
		<mapping resource="mapeos/Butaca.hbm.xml"/>
		<mapping resource="mapeos/CodigoDescuento.hbm.xml"/>
		<mapping resource="mapeos/Entrada.hbm.xml"/>
		<mapping resource="mapeos/Usuario.hbm.xml"/>
		<mapping resource="mapeos/Funcion.hbm.xml"/>
		<mapping resource="mapeos/DiaDescuento.hbm.xml"/>
		<mapping resource="mapeos/Evento.hbm.xml"/>
		<mapping resource="mapeos/TipoUsuario.hbm.xml"/>
		<mapping resource="mapeos/Reserva.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>