<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TicketUNLaWEB</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorVistasPersonasIndice</servlet-name>
    <servlet-class>controladores.ControladorVistasPersonasIndice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorVistasPersonasIndice</servlet-name>
    <url-pattern>/vistapersonasindice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReservar1</servlet-name>
    <servlet-class>controladores.ControladorReservar1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservar1</servlet-name>
    <url-pattern>/reservar1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReservar2</servlet-name>
    <servlet-class>controladores.ControladorReservar2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservar2</servlet-name>
    <url-pattern>/reservar2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReservar3</servlet-name>
    <servlet-class>controladores.ControladorReservar3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservar3</servlet-name>
    <url-pattern>/reservar3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReservar4</servlet-name>
    <servlet-class>controladores.ControladorReservar4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservar4</servlet-name>
    <url-pattern>/reservar4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReservar5</servlet-name>
    <servlet-class>controladores.ControladorReservar5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservar5</servlet-name>
    <url-pattern>/reservar5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorConsultaReserva</servlet-name>
    <servlet-class>controladores.ControladorConsultaReserva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorConsultaReserva</servlet-name>
    <url-pattern>/reservasUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorAjaxticketxfuncion</servlet-name>
    <servlet-class>controladores.ControladorAjaxticketxfuncion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAjaxticketxfuncion</servlet-name>
    <url-pattern>/ajaxticketxfuncion</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ControladorTicketNoReservado</servlet-name>
    <servlet-class>controladores.ControladorTicketNoReservado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketNoReservado</servlet-name>
    <url-pattern>/TicketNoReservado</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>ControladorTicketReservado</servlet-name>
    <servlet-class>controladores.ControladorTicketReservado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketReservado</servlet-name>
    <url-pattern>/TicketReservado</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <servlet-name>ControladorTicketConDescuento</servlet-name>
    <servlet-class>controladores.ControladorTicketConDescuento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketConDescuento</servlet-name>
    <url-pattern>/TicketConDescuento</url-pattern>
  </servlet-mapping>
  
         <servlet>
    <servlet-name>ControladorTicketFechaEvento</servlet-name>
    <servlet-class>controladores.ControladorTicketFechaEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketFechaEvento</servlet-name>
    <url-pattern>/TicketFechaEvento</url-pattern>
  </servlet-mapping>
  
           <servlet>
    <servlet-name>ControladorTicketFuncionSeccion</servlet-name>
    <servlet-class>controladores.ControladorTicketFuncionSeccion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketFuncionSeccion</servlet-name>
    <url-pattern>/TicketFuncionSeccion</url-pattern>
  </servlet-mapping>
  
                 <servlet>
    <servlet-name>ControladorTicketFechaEventoCliente</servlet-name>
    <servlet-class>controladores.ControladorTicketFechaEventoCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketFechaEventoCliente</servlet-name>
    <url-pattern>/TicketFechaEventoCliente</url-pattern>
  </servlet-mapping>
  
             <servlet>
    <servlet-name>ControladorTicketFuncionSeccionResultado</servlet-name>
    <servlet-class>controladores.ControladorTicketFuncionSeccionResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketFuncionSeccionResultado</servlet-name>
    <url-pattern>/TicketFuncionSeccionResultado</url-pattern>
  </servlet-mapping>
  
               <servlet>
    <servlet-name>ControladorTicketClienteBeneficioFecha</servlet-name>
    <servlet-class>controladores.ControladorTicketClienteBeneficioFecha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketClienteBeneficioFecha</servlet-name>
    <url-pattern>/TicketClienteBeneficioFecha</url-pattern>
  </servlet-mapping>
  
                 <servlet>
    <servlet-name>ControladorTicketFechaEventoClienteResultado</servlet-name>
    <servlet-class>controladores.ControladorTicketFechaEventoClienteResultado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTicketFechaEventoClienteResultado</servlet-name>
    <url-pattern>/TicketFechaEventoClienteResultado</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ControladorAjaxabms</servlet-name>
    <servlet-class>controladores.ControladorAjaxabms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAjaxabms</servlet-name>
    <url-pattern>/ajaxabms</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorAbmAuditorios</servlet-name>
    <servlet-class>controladores.ControladorAbmAuditorios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAbmAuditorios</servlet-name>
    <url-pattern>/abmauditorios</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ControladorAbmClientes</servlet-name>
    <servlet-class>controladores.ControladorAbmClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAbmClientes</servlet-name>
    <url-pattern>/abmclientes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorAbmDescuentos</servlet-name>
    <servlet-class>controladores.ControladorAbmDescuentos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAbmDescuentos</servlet-name>
    <url-pattern>/abmdescuentos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorAbmEventos</servlet-name>
    <servlet-class>controladores.ControladorAbmEventos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAbmEventos</servlet-name>
    <url-pattern>/abmeventos</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorAbmFunciones</servlet-name>
    <servlet-class>controladores.ControladorAbmFunciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAbmFunciones</servlet-name>
    <url-pattern>/abmfunciones</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>ControladorAltaClientes</servlet-name>
    <servlet-class>controladores.ControladorAltaClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAltaClientes</servlet-name>
    <url-pattern>/AltaClientes</url-pattern>
  </servlet-mapping>


 <servlet>
    <servlet-name>ControladorCrearCliente</servlet-name>
    <servlet-class>controladores.ControladorCrearCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCrearCliente</servlet-name>
    <url-pattern>/CrearCliente</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>ControladorAjaxreservascliente</servlet-name>
    <servlet-class>controladores.ControladorAjaxreservascliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAjaxreservascliente</servlet-name>
    <url-pattern>/ajaxreservascliente</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ControladorReservapagada</servlet-name>
    <servlet-class>controladores.ControladorReservapagada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReservapagada</servlet-name>
    <url-pattern>/reservapagada</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ControladorAltaAuditorio</servlet-name>
    <servlet-class>controladores.ControladorAltaAuditorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAltaAuditorio</servlet-name>
    <url-pattern>/AltaAuditorio</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>ControladorCrearAuditorio</servlet-name>
    <servlet-class>controladores.ControladorCrearAuditorio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCrearAuditorio</servlet-name>
    <url-pattern>/CrearAuditorio</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <servlet-name>ControladorAltaEvento</servlet-name>
    <servlet-class>controladores.ControladorAltaEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAltaEvento</servlet-name>
    <url-pattern>/AltaEvento</url-pattern>
  </servlet-mapping>
  
          <servlet>
    <servlet-name>ControladorCrearEvento</servlet-name>
    <servlet-class>controladores.ControladorCrearEvento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorCrearEvento</servlet-name>
    <url-pattern>/CrearEvento</url-pattern>
  </servlet-mapping>
    
</web-app>